body
{
    text-align: center;
    margin:0 auto;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
    min-width: 888px;

}
div
{
    margin: 0 auto;
    width:20%;
}

section
{
    
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns:repeat(4 ,1fr);
    grid-template-rows:repeat(5 ,1fr) ;
    border: solid;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    justify-items:center;
    grid: 50px 50px;
    border-radius: 0 0 10px 10px;
    
}
input
{
    border-radius: 50%;
    width: 100%;
    height:100%;
    font-size: xx-large;
    box-sizing: border-box;

}
#écrant
{
    border-radius: 10px 10px 0px 0px ;
    height: 80px;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    font-size: x-large;
    text-align: end;
    color: white;
    background-color: black;
    text-wrap:wrap;
}
button
{

}

.n0
{
    grid-area:"cl0";
    grid-row: 5;
    grid-column: 2 ;
}
.n1
{
    grid-area:"cl1";
    grid-row: 4;
    grid-column: 1
}
.n2
{
    grid-area:"cl2";
    grid-row: 4;
    grid-column: 2
    
}
.n3
{
    grid-area:"cl3";
    grid-row: 4;
    grid-column:3
}
.p
{
    grid-area:"clp";
    grid-row: 5;
    grid-column: 1;
}
.e
{
    grid-area:"égal";
    grid-row: 4/-1;
    grid-column:4;
    border-radius: 10px;
    background-color: red;
}
.v
{
    grid-area:"clv";
    grid-row: 5;
    grid-column: 3;
}
@media screen and (max-width: 300px) {
    section
    {
        
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns:repeat(4 ,1fr);
        grid-template-rows:repeat(5 ,1fr) ;
        border: solid;
        height: 800px;
        width: 125%;
        box-sizing: border-box;
        justify-items:center;
        grid: 50px 50px;
        border-radius: 0 0 10px 10px;
        margin-left: -70px;
        
    }
    #écrant
{
    border-radius: 10px 10px 0px 0px ;
    height: 200px;
    width: 125%;
    border: solid;
    box-sizing: border-box;
    font-size: xx-large;
    text-align: end;
    color: #ffffff;
    background-color: black;
    text-wrap:wrap;
    margin-left: -70px;
    font-size: 70px;
    margin-top: 50px;
}
body
{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
    min-width: 888px;
    margin-top: 100px;
    font-size: 40px;

}
input
{
    border-radius: 50%;
    width: 100%;
    height:100%;
    font-size: xx-large;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 80px;

}
div
{
    width:50%;
    height: 200px;
}
}
@media screen and (min-width: 301px) and (max-width:500px) {
    section
    {
        
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns:repeat(4 ,1fr);
        grid-template-rows:repeat(5 ,1fr) ;
        border: solid;
        height: 600px;
        width: 125%;
        box-sizing: border-box;
        justify-items:center;
        grid: 50px 50px;
        border-radius: 0 0 10px 10px;
        margin-left: -30px;
        
    }
    #écrant
{
    border-radius: 10px 10px 0px 0px ;
    height: 150px;
    width: 125%;
    border: solid;
    box-sizing: border-box;
    font-size: xx-large;
    text-align: end;
    color: #ffffff;
    background-color: black;
    text-wrap:wrap;
    margin-left: -30px;
    font-size: 50px;

}
body
{
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    font-size:medium;
    margin-top: 50px;
    font-size: 60px;

}
input
{
    border-radius: 50%;
    width: 100%;
    height:100%;
    font-size: xx-large;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 50px;

}
div
{
    width:30%;
    height: 100px;
    font-size: 30px;
}
header
{
    font-size: 40px;
}
}

